.attribution {
    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
}
.attribution a {
    color: $neon-green;
    opacity: 0.9;
    text-decoration: none;
    transition: color 0.5s ease;

    &:hover {
        color: $dark-grayish-blue;
        text-decoration: underline;
    }
}
